<%- include('header') -%>
    <div class="container">
        <ol class="list-group">
            <li class="list-group-item"><a href="/genres">Genres</a></li>
            <li class="list-group-item"><a href="/films">Films</a></li>
            <li class="list-group-item"><a href="/cinemaHalls">Cinema Halls</a></li>
            <li class="list-group-item"><a href="/performances">Performances</a></li>
        </ol>
    </div>
<%- include('footer') -%>