<%- include('../header') -%>
    <main class="flex-shrink-0">
        <div class="container">
            <ul class="list-group">
                <% cinemaHalls.forEach(function(cinemaHall) { %>
                   <li class="list-group-item"><a href="/cinemaHalls/cinemaHall/<%= cinemaHall._id %>"><%= cinemaHall.name %></a></li>
                <% }); %> 
            </ul>
            <br>
            <a href="/cinemaHalls/add" class="btn btn-primary">Add New Cinema Hall</a>
        </div> 
 <%- include('../footer') -%>